In [6]:
datafcopy.isnull().any()  #Checking if there are any missing or null values present in the dataset (exploratory data analysis)

type     False
posts    False
dtype: bool

In [10]:
Row, Col = datafcopy.shape
print('There are {Row} rows and {Col} columns')      #size of the dataset

There are {Row} rows and {Col} columns

In [11]:
datafcopy.dtypes  #Dataset Information

type     object
posts    object
dtype: object

In [12]:
datafcopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8675 entries, 0 to 8674
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    8675 non-null   object
 1   posts   8675 non-null   object
dtypes: object(2)
memory usage: 135.7+ KB

In [13]:
datafcopy.describe(include=['object'])

        type                                              posts
count   8675                                               8675
unique    16                                               8675
top     INFP  also sometimes  find   dependent  music   comp...
freq    1832                                                  1

In [14]:
types = np.unique(np.array(datafcopy['type']))
types

array(['ENFJ', 'ENFP', 'ENTJ', 'ENTP', 'ESFJ', 'ESFP', 'ESTJ', 'ESTP',
       'INFJ', 'INFP', 'INTJ', 'INTP', 'ISFJ', 'ISFP', 'ISTJ', 'ISTP'],
      dtype=object)

In [17]:
total = datafcopy.groupby(['type']).count()*50
total

      posts
type
ENFJ   9500
ENFP  33750
ENTJ  11550
ENTP  34250
ESFJ   2100
ESFP   2400
ESTJ   1950
ESTP   4450
INFJ  73500
INFP  91600
INTJ  54550
INTP  65200
ISFJ   8300
ISFP  13550
ISTJ  10250
ISTP  16850